.AccentButton{
    display: inline-block;
    width: auto;
    padding: 15px 25px;
    text-transform: uppercase;
    background-color:  #EB8BCA;
    color: white;
    font-size: 18px;
    font-family: 'Alatsi', sans-serif;
    cursor: pointer;
}

.AccentButton:hover{
    background-color: #dfaddf;

}